<!DOCTYPE html>
<html ng-app="tutorialApp">
    <head>
        <meta charset="utf8mb4" />
        <title>Test</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body ng-init="articles = ['Pizza Margherita', 'Pizza Tonno']">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
        <script src="./js/app.js"></script>
        <div>
            <input type="text" ng-model="search">
            <p ng-show="search">Die Resultate für: {{search}}</p>
        </div>
        <div ng-controller="CartCtrl">
            <div ng-hide="cart.getItems().length" class="alert alert-warning">Ihr Warenkorb ist noch leer.</div>
            <table ng-show="cart.getItems().length" class="table">
                <tr ng-repeat="item in cart.getItems() track by $name" class="cart-item">
                    <td>{{item.name}}</td>
                    <td>{{item.price | currency}}</td>
                    <td>{{item.count}}</td>
                </tr>
                <tr>
                    <td>{{cart.getItems().length}} Artikel</td>
                    <td>{{cart.sum() | currency}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="table" ng-controller="ArticlesCtrl">
                <tr ng-repeat="article in articles | filter:search">
                    <td>{{article.id}}</td>
                    <td>{{article.name}}</td>
                    <td>{{article.price}}</td>
                    <td><a href class="btn btn-default btn-sm" ng-click="cart.addArticle(article);">Hinzufügen</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>